<h3>Create Account</h3>

<div class="signup-form">
   <%= form_for @user do |f| %>
     <%= f.text_field :email, placeholder: "Email" %>
     <%= f.password_field :password, placeholder: "Password" %>
     <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

     <%= f.submit "Sign Up" %>
   <% end %>
 </div>
