<%= link_to "Sign Out", logout_path, method: :delete %>

<h3>New Link</h3>
<div class="new-link-form">
  <%= form_for :link do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.url_field :url, placeholder: "URL" %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<h3>Links Index</h3>

<section class="link-lists">

  <% @user_links.each do |link| %>
    <div class="link-box" data-link-id=<%= link.id %> data-user-id= <%=current_user.id %> >
      Title: <p> <%= link.title %></p>
      URL: <p> <%= link.url %></p>
      <%= link_to "Edit", edit_user_link_path(current_user, link) %> <br><br>
      Read? <p data-read-status=<%= link.read%> id="link-status" > <%= link.read %> </p> <%= mark(link) %>
    </div>
    <br>
  <% end %>
</section>
