<%= link_to "Sign Out", logout_path, method: :delete %>

<h3>New Link</h3>
<div class="new-link-form">
  <%= form_for :link do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.url_field :url, placeholder: "URL" %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<h3>Links Index</h3>

<div class="link-lists">
  <ul>
    <% @user_links.each do |link| %>
      <%= link.title %>
      <%= link.url %>
      <%= link.read %>
    <% end %>
  </ul>
</div>
