<%= link_to "Sign Out", logout_path, method: :delete %>

<h3>New Link</h3>
<div class="new-link-form">
  <%= form_for :link, url: user_links_path do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.url_field :url, placeholder: "URL" %>
    <%= f.submit "Submit", user_id: current_user.id %>
  <% end %>
</div>

<h3>Links Index</h3>



<div class="link-lists">

</div>
